 
<div class="card card-container">
	<div *ngIf="showLoginPage">
		<img id="profile-img" class="profile-img-card" src="https://bootdey.com/img/Content/avatar/avatar6.png" />
		<p id="profile-name" class="profile-name-card"></p>
		<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
			<span id="reauth-email" class="reauth-email"></span>
			<div class="form-group">
				<input type="email" id="inputEmail" formControlName="username" [ngClass]="{ 'is-invalid': loginSubmitted && loginvar.username.errors }" class="form-control" placeholder="Email address" autofocus>
				<div *ngIf="loginSubmitted && loginvar.username.errors" class="invalid-feedback">
					<div *ngIf="loginvar.username.errors.required">Username is required</div>
				</div>
			</div>
			<div class="form-group">
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': loginSubmitted && loginvar.password.errors }">
				<div *ngIf="loginSubmitted && loginvar.password.errors" class="invalid-feedback">
					<div *ngIf="loginvar.password.errors.required">Password is required</div>
				</div>
			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
		</form><!-- /form -->
		<a [routerLink]="['/_nav', '_fpwd'] " class="forgot-password">
			Forgot the password?
		</a>
		<a [routerLink]="['/_nav', '_signup'] " class="btn  btn-sm">Do not have an account?
			SIGN UP</a>
	</div>

	<div *ngIf="showForgotPwdPage">
		<h4 class="card-title">Forgot Password</h4>
		<form [formGroup]="fPwdForm" (ngSubmit)="onForgetPasswordSubmit()">
			<span id="reauth-email" class="reauth-email"></span>
			<div class="form-group">
				<input type="email" id="inputEmail" formControlName="fPwdForm_username" [ngClass]="{ 'is-invalid': fPwdSubmitted && fPwdvar.fPwdForm_username.errors }" class="form-control" placeholder="Email address" autofocus>
				<div *ngIf="fPwdSubmitted && fPwdvar.fPwdForm_username.errors" class="invalid-feedback">
					<div *ngIf="fPwdvar.fPwdForm_username.errors.required">Username is required</div>
				</div>
			</div>
		 
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Send Password</button>
      <a [routerLink]="['/home']" class="btn  btn-sm">Back to LOGIN?</a>
		</form><!-- /form -->
	</div>

  <div *ngIf="showSignupPwdPage">
    <h4 class="card-title">Sign up</h4>
	<form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
			<span id="reauth-email" class="reauth-email"></span>
			<div class="form-group">
						<label>Email</label>
						<input  class="form-control"  formControlName="signup_username" placeholder="ENTER EMAIL ADDRESS" type="email" [ngClass]="{ 'is-invalid': signupSubmitted && signupvar.signup_username.errors }"
                    >
						<div *ngIf="signupSubmitted && signupvar.signup_username.errors" class="invalid-feedback">
							<div *ngIf="signupvar.signup_username.errors.required">Username is required
							</div>
						</div>
					</div>  
					<div class="form-group">
						<label>Password</label>
						<input class="form-control" placeholder="ENTER NEW PASSWORD" type="password" formControlName="signup_password"[ngClass]="{ 'is-invalid': signupSubmitted && signupvar.signup_password.errors }" />
						<div *ngIf="signupSubmitted && signupvar.signup_password.errors" class="invalid-feedback">
							<div *ngIf="signupvar.signup_password.errors.required">Password is required
							</div>
							<div *ngIf="signupvar.signup_password.errors.minlength">Password min least 6
								char</div>
						</div>
					</div>

					<div class="form-group">
						<label>FirstName</label>
						<input  class="form-control"  formControlName="firstname" placeholder="ENTER FIRSTNAME"
                    >
		        			</div>
						<div class="form-group">
							<label>Lastname*</label>
							<input  class="form-control"  formControlName="lastname" placeholder="ENTER LASTNAME"      [ngClass]="{ 'is-invalid': signupSubmitted && signupvar.lastname.errors }"
                       >
							<div *ngIf="signupSubmitted && signupvar.lastname.errors" class="invalid-feedback">
								<div *ngIf="signupvar.lastname.errors.required">Lastname is required
								</div>
							</div>
						</div>
		 
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Signup</button>
      <a [routerLink]="['/home']" class="btn  btn-sm">Back to LOGIN?</a>
		</form><!-- /form -->
	</div>
  
</div><!-- /card-container -->