<div class="card-deck">
	<div class="card  bg-light mb-3 sectionMargin" style="width: 30rem;">
		<div class="card-header text-center">
			<h2> Photography</h2>
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F1']" role="button">View details »</a></p>
		</div>
	</div>
	<div class="card bg-light mb-3  sectionMargin" style="width: 30rem;">
		<div class="card-header text-center">
			<h2> Health</h2>
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']" role="button">View details »</a></p>
		</div>
	</div>
  	<div class="card  bg-light mb-3 sectionMargin" style="width: 30rem;">
		<div class="card-header text-center">
			<h2> Photography</h2>
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F3']" role="button">View details »</a></p>
		</div>
	</div>
</div>

<div class="card-deck mt-4">
	<div class="card bg-light mb-3">
		<div class="card-header text-center">
			<h4 class="card-title">Funding Options</h4>
		</div>
    <div class="card-body">
			<p class="card-text">
				Add credit/debit card
				<br> Top up Account
				<br> Manage cards
                </p>
		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']"  role="button">View details »</a></p>
		</div>
	</div>

	 <div class="card bg-light mb-3 ">
		<div class="card-header text-center">
			<h4 class="card-title">Payment Options</h4>
		</div>
    <div class="card-body">
			<p class="card-text">
				Add credit/debit card
				<br> Top up Account
				<br> Manage cards
                </p>
		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']"  role="button">View details »</a></p>
		</div>
	</div>
  <div class="card bg-light mb-3">
		<div class="card-header text-center">
			<h4 class="card-title">Service Options</h4>
		</div>
    <div class="card-body">
			<p class="card-text">
				Add credit/debit card
				<br> Top up Account
				<br> Manage cards
                </p>
		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']"  role="button">View details »</a></p>
		</div>
	</div>
</div>