<div class="card-deck">
	<div class="card  bg-light mb-3 sectionMargin" style="width: 18rem;">
   <img src="https://mz0gdq.ch.files.1drv.com/y4m-yae6uXtYQd3hyGRihJYUsG6s0Wjfzu79sYg-Y1V3PA4DluiyEDmSlqyj-ZwR7ZKmoeJlkXplC0BIbRLaASIEGKh1E1LQEOF-b5wBXzwhXZi5Hl6PcXB4uwF_jEgzcjGcSWY0ZqBgrJsdTagThLrXhZe-KaL_70_g7yKbCJEL3t0sT8z3kQiShMq4dxIu2HhVpmz1P1rAhTcstInLPGq2g?width=390&height=260&cropmode=none"  class=" card-img-top" alt="COMPANY LOGO">
	 
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F1']" role="button">LEARN MORE »</a></p>
		</div>
	</div>
	<div class="card bg-light mb-3  sectionMargin" style="width: 18rem;">
	<img src="https://kz1rma.ch.files.1drv.com/y4mESvxGc-IHHA_ODxMs9MdjZ_rDZAEqT9QM-KXnO6iTebKdL8Km3qc9e5COcxJD_dXj3Y3xmJOuU45CsohZjgnbjzCiTWgj75vmNkdwRlStRTKHzBZWsNYFnoeOCr_ifyYh11ciaomNhzPAMiyzzXtkEoTZzlR60fcGL06_8nvKLEQvzoal32d5vW5A0L31ShR7J6R0x_yQvW5EM-0D3l4VQ?width=390&height=260&cropmode=none"  class=" card-img-top" alt="COMPANY LOGO">
	
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']" role="button">LEARN MORE »</a></p>
		</div>
	</div>
  	<div class="card  bg-light mb-3 sectionMargin" style="width: 30rem;">
			<img src="https://ld1rma.ch.files.1drv.com/y4mw78QLSVCWoOjvmO5pI6xt48XTz88QJ9ChwsnhecWrOMOKwei-mKwEuazoWUn6cW4jpwQx1tVxUyDENw_ZGTTHvehsILm6zKvpTWY1m0xKNnavYHWE0rlMFw0fILulhZqt23YUAn_fQs1bWtyYsBS0gQIqX-wzGBOy3KgJcmctFZN-YgchQ_B7q0qEE2kk-TnCu6JX1LdOz1maRmcDsC69Q?width=390&height=260&cropmode=none"  class=" card-img-top" alt="COMPANY LOGO">

		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F3']" role="button">LEARN MORE »</a></p>
		</div>
	</div>
</div>

<div class="card-deck mt-4">
	<div class="card bg-light mb-3">
	 
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
			<p class="card-text">
				Add credit/debit card
				<br> Top up Account
				<br> Manage cards
                </p>
		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']"  role="button">LEARN MORE »</a></p>
		</div>
	</div>

	 <div class="card bg-light mb-3 ">
    <div class="card-body">
       <h5 class="card-title">Special title treatment</h5>
			<p class="card-text">
				Add credit/debit card
				<br> Top up Account
				<br> Manage cards
                </p>
		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']"  role="button">LEARN MORE »</a></p>
		</div>
	</div>
  <div class="card bg-light mb-3">
	 
    <div class="card-body">
       <h5 class="card-title">Special title treatment</h5>
			<p class="card-text">
         <img src="https://jt0gdq.ch.files.1drv.com/y4m2ulz1Iu5ebu8_FQV5q55VwwYyPi8JRKb-Myi8N1Od-mjw62TzTFFTn-JnS6ajGRRWG5mSWXYPKIieJlAIWzoi-N0ySsej1cQYkKqcl4R7tpAufqdI-Ggebh0g96CE851RaGizvOespIUDMZhMMxJJgE50WWMbCja-Fng_L9EnI75dSUMPop2XsX23r_5YROExRVeuDrCfqORWXlsZDoouw"  width="50" height="50" class="rounded-circle d-inline-block align-top" alt="COMPANY LOGO">
				Add credit/debit card
				<br> Top up Account
				<br> Manage cards
                </p>
               
		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']"  role="button">LEARN MORE »</a></p>
		</div>
	</div>
</div>