 <div class="container ">
	<div class="row sectionMargin">
		<div class="card " style="width: 22rem;">
			<div class="card-header">
				<h2>Photography</h2>
			</div>
			<div class="card-body">
				<p class="card-text" >Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-info"  (click)="navigate('Photography')"    role="button">View details »</a></p>
			</div>
		</div>
    <div style="margin-left:20px"> </div>
		<div class="card " style="width: 22rem;">
			<div class="card-header">
				<h2>Health</h2>
			</div>
			<div class="card-body">
				 
				<p class="card-text" >Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-info" (click)="navigate('Health')" role="button">View details »</a></p>
			</div>
		</div>
	</div>

  <div class="row sectionMargin">
     	<div class="card" style="width: 22rem;">
			<div class="card-header">
				<h2>Music</h2>
			</div>
			<div class="card-body">
				 
				<p class="card-text" >Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-info" (click)="navigate('Music')" role="button">View details »</a></p>
			</div>
		</div>

	</div>
 
 