 	<aside class="container">
		<div class="sidebar left ">
			<div class="user-panel">
				<div class="pull-left image">
					<img  src="https://jj2hgq.ch.files.1drv.com/y4myOCN7C-uQ07zF_b5xgKmAiDSbf9RLfHdRd5HrNxVQTHq8tjiEPrhARdyZ6VC09qWcL51g0zN-o__FZLcjfYFyt3utAa73AZu3KtZjIVlFJ6dl1A1tOTIVZSjhjGlOTrD9r5qfJtwPMLWQ7dNpFxsSQ1uR28b1Oj9GHDnvhE1y_Zq3dztRh-SAm_aiFnNReRd_4XGRrRZfaCzKCefjkpO4w?width=591&height=591&cropmode=none" class="rounded-circle" alt="User Image">
              </div>
					<p style="color:white;font-weight:bold;margin-left:60px;margin-top:10px">Ishaq Tasleem Mohammad</p>
				</div>
				<ul class="list-sidebar bg-defoult">
					<li>
						<a routerLink="/dashboard"><i class="fa fa-th-large"></i>
							<span class="nav-label">Dashboard</span> </a>
					</li>
					<li> <a [routerLink]="['/item_3', 3]"><i class="fa fa-users"></i>
							<span class="nav-label">Users</span></a> </li>
					<li> <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active">
							<i class="fa fa-tasks"></i> <span class="nav-label">Task</span>
							<span class="fa fa-chevron-left pull-right"></span> </a>
						<ul class="sub-menu collapse" id="products">
							<li class="active"><a [routerLink]="['/item_1', 1]">My Task</a></li>
							<li><a [routerLink]="['/item_2', 2]">Review Task</a></li>
							<li><a [routerLink]="['/item_3', 3]">Create Custom Task</a></li>
						</ul>
					</li>
					<li> <a [routerLink]="['/item_2', 2]"><i class="fa fa-laptop"></i>
							<span class="nav-label">Manage Service</span></a>
					</li>
					<li> <a href="#" data-toggle="collapse" data-target="#tables"
							class="collapsed active"><i class="fa fa-table"></i>
							<span class="nav-label">Service Provider</span><span class="fa fa-chevron-left pull-right"></span></a>
						<ul class="sub-menu collapse" id="tables">
							<li><a [routerLink]="['/item_2', 2]"> New Service</a></li>
						</ul>
					</li>
			 
          <li> <a routerLink="/home"><i class="fa fa-sign-out"></i> <span class="nav-label">Logout</span> </a>
					</li>
				</ul>
			</div>
	</aside>
 