<div class="container">

	<!-- Login Page -->
	<div *ngIf="showLoginPage">
		<div class="card">
			<article class="card-body">
				<a (click)="navigate('signup')" class="float-right btn btn-outline-primary">Sign up</a>
				<h4 class="card-title mb-4 mt-1">Sign in</h4>
				<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
					<div class="form-group">
						<label>Your email</label>
						<input  class="form-control"  formControlName="username" placeholder="Email" type="email" [ngClass]="{ 'is-invalid': loginSubmitted && loginvar.username.errors }"
            >
						<div *ngIf="loginSubmitted && loginvar.username.errors" class="invalid-feedback">
							<div *ngIf="loginvar.username.errors.required">Username is required</div>
						</div>
					</div> <!-- form-group// -->
					<div class="form-group float-right">
						<a (click)="navigate('fwdpage')" class="float-right btn btn-outline-primary btn-sm"
							style="margin-top:-5px;width:80px">Forgot?</a>
						<label>Your password</label>
						<input class="form-control" placeholder="Password" type="password" formControlName="password"[ngClass]="{ 'is-invalid': loginSubmitted && loginvar.password.errors }" />
						<div *ngIf="loginSubmitted && loginvar.password.errors" class="invalid-feedback">
							<div *ngIf="loginvar.password.errors.required">Password is required</div>
						</div>
					</div> <!-- form-group// -->
					<div class="form-group">
						<button [disabled]="loadingLogin" type="submit" class="btn btn-primary btn-block"> Login  </button>
						<img *ngIf="loadingLogin" class="pl-3" src="https://jj2hgq.ch.files.1drv.com/y4myOCN7C-uQ07zF_b5xgKmAiDSbf9RLfHdRd5HrNxVQTHq8tjiEPrhARdyZ6VC09qWcL51g0zN-o__FZLcjfYFyt3utAa73AZu3KtZjIVlFJ6dl1A1tOTIVZSjhjGlOTrD9r5qfJtwPMLWQ7dNpFxsSQ1uR28b1Oj9GHDnvhE1y_Zq3dztRh-SAm_aiFnNReRd_4XGRrRZfaCzKCefjkpO4w?width=591&height=591&cropmode=none" width="30" height="30"   alt=""/>
					</div> <!-- form-group// -->
				</form>
			</article>
		</div>
	</div>

	<!-- Forgot Password Page -->

	<div *ngIf="showForgotPwdPage">
		<div class="card">
			<article class="card-body">
				<a (click)="navigate('login')" class="float-right btn btn-outline-primary">Login</a>
				<h4 class="card-title mb-4 mt-1">Forgot Password</h4>
				<form [formGroup]="fPwdForm" (ngSubmit)="onForgetPasswordSubmit()">
					<div class="form-group">
						<label>Your email</label>
						<input  class="form-control"  formControlName="fPwdForm_username" placeholder="Email" type="email" [ngClass]="{ 'is-invalid': fPwdSubmitted && fPwdvar.fPwdForm_username.errors }"
        >
						<div *ngIf="fPwdSubmitted && fPwdvar.fPwdForm_username.errors" class="invalid-feedback">
							<div *ngIf="fPwdvar.fPwdForm_username.errors.required">Username is required</div>
						</div>
					</div> <!-- form-group// -->

					<div class="form-group">
						<button [disabled]="loadingFPwd" type="submit" class="btn btn-primary btn-block"> Reset  </button>
						<img *ngIf="loadingFPwd" class="pl-3" src="https://jj2hgq.ch.files.1drv.com/y4myOCN7C-uQ07zF_b5xgKmAiDSbf9RLfHdRd5HrNxVQTHq8tjiEPrhARdyZ6VC09qWcL51g0zN-o__FZLcjfYFyt3utAa73AZu3KtZjIVlFJ6dl1A1tOTIVZSjhjGlOTrD9r5qfJtwPMLWQ7dNpFxsSQ1uR28b1Oj9GHDnvhE1y_Zq3dztRh-SAm_aiFnNReRd_4XGRrRZfaCzKCefjkpO4w?width=591&height=591&cropmode=none" width="30" height="30"   alt=""/>
					</div> <!-- form-group// -->
				</form>
			</article>
		</div>
	</div>

	<!-- Sign Up Page -->
	<div *ngIf="showSignupPwdPage">
		<div class="card">
			<article class="card-body">
				<a (click)="navigate('login')" class="float-right btn btn-outline-primary">Login</a>
				<h4 class="card-title mb-4 mt-1">Sign up</h4>
				<form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
					<div class="form-group">
						<label>Your email</label>
						<input  class="form-control"  formControlName="signup_username" placeholder="Email" type="email" [ngClass]="{ 'is-invalid': signupSubmitted && signupvar.signup_username.errors }"
        >
						<div *ngIf="signupSubmitted && signupvar.signup_username.errors" class="invalid-feedback">
							<div *ngIf="signupvar.signup_username.errors.required">Username is required</div>
						</div>
					</div> <!-- form-group// -->

					<div class="form-group">
						<label>Your Firstname</label>
						<input  class="form-control"  formControlName="firstname" placeholder="FirstName"
            >
					</div>
						<div class="form-group">
							<label>Your Lastname</label>
							<input  class="form-control"  formControlName="lastname" placeholder="lastname"      [ngClass]="{ 'is-invalid': signupSubmitted && signupvar.lastname.errors }"
        >
							<div *ngIf="signupSubmitted && signupvar.lastname.errors" class="invalid-feedback">
								<div *ngIf="signupvar.lastname.errors.required">Username is required</div>
							</div>
						</div>

						<div class="form-group">
							<button [disabled]="loadingSignup" type="submit" class="btn btn-primary btn-block"> Signup </button>
							<img *ngIf="loadingSignup" class="pl-3" src="https://jj2hgq.ch.files.1drv.com/y4myOCN7C-uQ07zF_b5xgKmAiDSbf9RLfHdRd5HrNxVQTHq8tjiEPrhARdyZ6VC09qWcL51g0zN-o__FZLcjfYFyt3utAa73AZu3KtZjIVlFJ6dl1A1tOTIVZSjhjGlOTrD9r5qfJtwPMLWQ7dNpFxsSQ1uR28b1Oj9GHDnvhE1y_Zq3dztRh-SAm_aiFnNReRd_4XGRrRZfaCzKCefjkpO4w?width=591&height=591&cropmode=none" width="30" height="30"   alt=""/>
							</div> <!-- form-group// -->
				</form>
			</article>
		</div>
	</div>

</div>