<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">

		<!-- Image and text -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="https://homepages.cae.wisc.edu/~ece533/images/tulips.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Ishaq-Mohammad
    </a>
				<ul class="nav navbar-nav" routerLinkActive="active">
					<li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="about">Overview</a></li>
				</ul>
		</nav>
	</div>
</nav>

<router-outlet></router-outlet>