<nav class="navbar navbar-expand">
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<img src="https://homepages.cae.wisc.edu/~ece533/images/tulips.png" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;
		<h3>Service App</h3>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="#" routerLink="home"><b>Home</b> <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="about"><b>Overview</b></a>
			</li>

		</ul>
		<form class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-primary" type="submit">Dashboard</button>
		</form>
	</div>
</nav>
<main>

	<body>
		<router-outlet></router-outlet>
	</body>
</main>