<div class="card-body">
 	<div *ngIf="id==='1'">
		<p class="card-text">
			PHOTOGRAPTH works!This is a list of course categories, click on each to see a list of courses for a given
			category.This is a list of course categories, click on each to sek on each to see a list of courses for
			a given category.This is a list of course categories, click on each to see a list of courses for a given
			category.This is a list of course categories, click on each to see a list of courses for a given
			category.This
			is a
			list of course categories, click on each to see a list of courses for a given category.This is a list of
			course
			categories, click on each to see a list of courses for a given category.4
		</p>
	</div>

	<div *ngIf="id==='2'">
		<p class="card-text">
			HEALTH works!This is a list of course categories, click on each to see a list of courses for a given
			category.This is a list of course categories, click on each to sek on each to see a list of courses for
			a given category.This is a list of course categories, click on each to see a list of courses for a given
			category.This is a list of course categories, click on each to see a list of courses for a given
			category.This
			is a
			list of course categories, click on each to see a list of courses for a given category.This is a list of
			course
			categories, click on each to see a list of courses for a given category.4
		</p>
	</div>
 
</div>