<div class="sectionMargin">
	<!--Grid column-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item "><a routerLink="/dashboard">Dashboard</a></li>
		<li class="breadcrumb-item active">
			<span *ngIf="id==='1'">
          Photography
      </span>
			<span *ngIf="id==='2'">
          Health
      </span>
			<span *ngIf="id==='3'">
          Music
      </span>

		</li>
	</ol>
</div>
<div *ngIf="id==='1'">
	<p>
		photography works!This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to sek on each to see a list of courses for
		a given category.This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to see a list of courses for a given category.This
		is a
		list of course categories, click on each to see a list of courses for a given category.This is a list of course
		categories, click on each to see a list of courses for a given category.4
	</p>
</div>

<div *ngIf="id==='2'">
	<p>
		health works!This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to sek on each to see a list of courses for
		a given category.This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to see a list of courses for a given category.This
		is a
		list of course categories, click on each to see a list of courses for a given category.This is a list of course
		categories, click on each to see a list of courses for a given category.4
	</p>
</div>

<div *ngIf="id==='3'">
	<p>
		music works!This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to sek on each to see a list of courses for
		a given category.This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to see a list of courses for a given category.This
		is a
		list of course categories, click on each to see a list of courses for a given category.This is a list of course
		categories, click on each to see a list of courses for a given category.4
	</p>
</div>