<div class="container">
	<div class="row mx-1">
		<!--Grid column-->
		<div class="col-md-9 mb-4">
			<!--<ol class="breadcrumb">
				<li class="breadcrumb-item "><a routerLink="/home">Home</a></li>
				<li class="breadcrumb-item active">dashboard</li>
			</ol>-->
     
   		<div class="card card-image">
				<div class="text-white d-flex align-items-center rgba-black-strong py-5 px-4">
					<div>
						<h3 class="card-title py-3 font-weight-bold"> 
             
              Dashboard Created Page By Logo
               <img src="https://jj2hgq.ch.files.1drv.com/y4myOCN7C-uQ07zF_b5xgKmAiDSbf9RLfHdRd5HrNxVQTHq8tjiEPrhARdyZ6VC09qWcL51g0zN-o__FZLcjfYFyt3utAa73AZu3KtZjIVlFJ6dl1A1tOTIVZSjhjGlOTrD9r5qfJtwPMLWQ7dNpFxsSQ1uR28b1Oj9GHDnvhE1y_Zq3dztRh-SAm_aiFnNReRd_4XGRrRZfaCzKCefjkpO4w?width=591&height=591&cropmode=none" width="35" height="35" class="d-inline-block align-top" alt="">
            </h3>
						<p class="pb-3">This is a list of course categories, click on each to see a list of courses for
							a given
							category.</p>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
		<router-outlet name="sidemenu"></router-outlet>
	</div>
</div>