 
	<!--Grid column-->
	<div class="card  ">
		<ol class="breadcrumb">
			<li class="breadcrumb-item ">
		</ol>

		<div *ngIf="id==='F1'">
			<div class="card-body">
				<p>
					F1 works!This is a list of course categories, click on each to see a list of courses for a
					given
					category.This is a list of course categories, click on each to sek on each to see a list of courses
					for
					a given category.This is a list of course categories, click on each to see a list of courses for a
					given
					category.This is a list of course categories, click on each to see a list of courses for a given
					category.This
					is a
					list of course categories, click on each to see a list of courses for a given category.This is a
					list of course
					categories, click on each to see a list of courses for a given category.4
				</p>
			</div>
		</div>

		<div *ngIf="id==='F2'">
			<div class="card-body">
				<p>
					F2 works!This is a list of course categories, click on each to see a list of courses for a
					given
					category.This is a list of course categories, click on each to sek on each to see a list of courses
					for
					a given category.This is a list of course categories, click on each to see a list of courses for a
					given
					category.This is a list of course categories, click on each to see a list of courses for a given
					category.This
					is a
					list of course categories, click on each to see a list of courses for a given category.This is a
					list of course
					categories, click on each to see a list of courses for a given category.4
				</p>
			</div>
		</div>

		<div *ngIf="id==='F3'">
			<div class="card-body">
				<p>
					F3 works!This is a list of course categories, click on each to see a list of courses for a
					given
					category.This is a list of course categories, click on each to sek on each to see a list of courses
					for
					a given category.This is a list of course categories, click on each to see a list of courses for a
					given
					category.This is a list of course categories, click on each to see a list of courses for a given
					category.This
					is a
					list of course categories, click on each to see a list of courses for a given category.This is a
					list of course
					categories, click on each to see a list of courses for a given category.4
				</p>
			</div>
		</div>
	</div>
 