<div class="sectionMargin">
	<!--Grid column-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item "><a routerLink="/home">Home</a></li>
		<li class="breadcrumb-item active">{{id}}</li>
	</ol>
</div>

<div *ngIf="photography">
	<p>
		manageuser works!This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to sek on each to see a list of courses for
		a given category.This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to see a list of courses for a given category.This
		is a
		list of course categories, click on each to see a list of courses for a given category.This is a list of course
		categories, click on each to see a list of courses for a given category.4
	</p>
</div>

<div *ngIf="health">
	<p>
		manageuser works!This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to sek on each to see a list of courses for
		a given category.This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to see a list of courses for a given category.This
		is a
		list of course categories, click on each to see a list of courses for a given category.This is a list of course
		categories, click on each to see a list of courses for a given category.4
	</p>
</div>

<div *ngIf="music">
	<p>
		manageuser works!This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to sek on each to see a list of courses for
		a given category.This is a list of course categories, click on each to see a list of courses for a given
		category.This is a list of course categories, click on each to see a list of courses for a given category.This
		is a
		list of course categories, click on each to see a list of courses for a given category.This is a list of course
		categories, click on each to see a list of courses for a given category.4
	</p>
</div>