 
<div class="card-deck ">
	<div class="card  bg-light mb-3 sectionMargin">
		<img src="https://mz0gdq.ch.files.1drv.com/y4m-yae6uXtYQd3hyGRihJYUsG6s0Wjfzu79sYg-Y1V3PA4DluiyEDmSlqyj-ZwR7ZKmoeJlkXplC0BIbRLaASIEGKh1E1LQEOF-b5wBXzwhXZi5Hl6PcXB4uwF_jEgzcjGcSWY0ZqBgrJsdTagThLrXhZe-KaL_70_g7yKbCJEL3t0sT8z3kQiShMq4dxIu2HhVpmz1P1rAhTcstInLPGq2g?width=390&height=260&cropmode=none"  class=" card-img-top" alt="COMPANY LOGO">

		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F1']" role="button">LEARN MORE »</a></p>
		</div>
	</div>
	<div class="card bg-light mb-3  sectionMargin">
		<img src="https://kz1rma.ch.files.1drv.com/y4mESvxGc-IHHA_ODxMs9MdjZ_rDZAEqT9QM-KXnO6iTebKdL8Km3qc9e5COcxJD_dXj3Y3xmJOuU45CsohZjgnbjzCiTWgj75vmNkdwRlStRTKHzBZWsNYFnoeOCr_ifyYh11ciaomNhzPAMiyzzXtkEoTZzlR60fcGL06_8nvKLEQvzoal32d5vW5A0L31ShR7J6R0x_yQvW5EM-0D3l4VQ?width=390&height=260&cropmode=none"  class=" card-img-top" alt="COMPANY LOGO">

		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F2']" role="button">LEARN MORE »</a></p>
		</div>
	</div>
	<div class="card  bg-light mb-3 sectionMargin">
		<img src="https://ld1rma.ch.files.1drv.com/y4mw78QLSVCWoOjvmO5pI6xt48XTz88QJ9ChwsnhecWrOMOKwei-mKwEuazoWUn6cW4jpwQx1tVxUyDENw_ZGTTHvehsILm6zKvpTWY1m0xKNnavYHWE0rlMFw0fILulhZqt23YUAn_fQs1bWtyYsBS0gQIqX-wzGBOy3KgJcmctFZN-YgchQ_B7q0qEE2kk-TnCu6JX1LdOz1maRmcDsC69Q?width=390&height=260&cropmode=none"  class=" card-img-top" alt="COMPANY LOGO">

		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text "> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
				commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
				malesuada magna mollis euismod. Donec sed odio dui. </p>

		</div>
		<div class="card-footer">
			<p><a class="btn" [routerLink]="['/feature', 'F3']" role="button">LEARN MORE »</a></p>
		</div>
	</div>
</div>

 
<div class="container-fluid">
<div class="title-arch"><p>Add Our Services and Relax</p></div>

	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
        <div class="project-hover">
        	<h2>TITLE</h2>
            
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
            <a href="#">See Project</a>
        </div>
    </div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
    	<div class="project-hover">
        	<h2>TITLE</h2>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
            <a href="#">See Project</a>
        </div>
    </div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
    	<div class="project-hover">
        	<h2>TITLE</h2>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
            <a href="#">See Project</a>
        </div>
    </div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
    	<div class="project-hover">
        	<h2>TITLE</h2>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
            <a href="#">See Project</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>