main {
    margin-top: 10px;
} 
.sectionMargin {
    margin-top: 15px;
} 
body {
     background-size: 100%;
    background-position: top center;
    background-repeat: unset;
     background: linear-gradient( rgba(70, 66, 66, 0.5), rgba(15, 15, 15, 0.5) ), url('https://nd0gdq.ch.files.1drv.com/y4mBPQB7ZduiXgfJd4UrfnT_PEfaSvbGl9j4jTJmWwXbrB3041y5i2i6lN5RnziIVn6svocyqrDicdRYwatjfnP8mTiTvsFey-EOaoDGLwpcXqkfvU7w4CfFNvQqQaICb6AbgqscIWAkDdmuA9hUNUZ6sQ_6f3E_TyP3C5Y2Zeew51Py-0FdKkavxE2CSV2a0Bd7F8Z3XFsEUDhzfaFL5zYZg?width=1920&height=1080&cropmode=none') top center no-repeat;
     background-attachment:fixed;
}
.card-image{
background-repeat: no-repeat;
 background-position: bottom bottom;
 background-attachment:fixed;
 background: url('https://jj0gdq.ch.files.1drv.com/y4mXmzSio2QMt93OD43lj-Wlq8LX2l54PS3OQitq5ID8kIHm3KGJ6IUs7zMvVmapQdkvtl7pwBUUF70cpLI37hEJmNO2kBIj-4uS6WhgWXP1NX4muf7Qb1PPYyWtAkZygWUPiBSI8Vd3M-Q1qcNP-vYxYgGi_WZ-XYAVheHn0LulPQ05fwwdBCXeuTXYY45Vv127bGOgyq0rqc9ye99MDLMZA?width=180&height=20&cropmode=none');  
} 
 .navmenu-a {
     color:white;
     font-size: 20px;
     font-weight: bold
 }
 
 .container{
   max-width: 1600px;
 }
 
table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
 