main {
    margin-top: 10px;
} 
.sectionMargin {
    margin-top: 15px;
} 
body {
     background-size: 100%;
    background-position: top center;
    background-repeat: unset;
     background: linear-gradient( rgba(70, 66, 66, 0.5), rgba(15, 15, 15, 0.5) ), url('https://kd0gdq.ch.files.1drv.com/y4mfRL4TjDijLV6KTZk62xgwXTqDtV36cHOft3HK9AerJqPc-ua9iGANFisKoxhWbaZ9-XTgwYXrq2cajtJfVuvk-XtnFpesBHtIplsDIWG-Ja2G0qHB4C5SZCoN_esJposZWDUPUY-ue973vkfCcVE9PCckiOywanPiqqN0Obwmin112oke6rkV87ssD0y47rCglkkbY_wsRc77972X5SsRw') top center no-repeat;
     background-attachment:fixed;
}
.card-image{
background-repeat: no-repeat;
 background-position: bottom bottom;
 background-attachment:fixed;
 background: url('https://jj0gdq.ch.files.1drv.com/y4mXmzSio2QMt93OD43lj-Wlq8LX2l54PS3OQitq5ID8kIHm3KGJ6IUs7zMvVmapQdkvtl7pwBUUF70cpLI37hEJmNO2kBIj-4uS6WhgWXP1NX4muf7Qb1PPYyWtAkZygWUPiBSI8Vd3M-Q1qcNP-vYxYgGi_WZ-XYAVheHn0LulPQ05fwwdBCXeuTXYY45Vv127bGOgyq0rqc9ye99MDLMZA?width=180&height=20&cropmode=none');  
} 
 .navmenu-a {
     color:white;
     font-size: 20px;
     font-weight: bold
 }
 
 .container{
   max-width: 1600px;
 }
 

.carousel-inner   img {

height:300px;
object-fit: initial;

}

.carousel-caption{
  text-align: left;
right:50px;
bottom:100px
}

 table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
   
}
img.avatar,
div.avatar {
  border: 1px solid #eee;
  width: 122px;
  height: 122px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}