main {
    margin-top: 10px;
} 
.sectionMargin {
    margin-top: 15px;
} 
body {
  background-repeat: no-repeat; background-size: inherit; background-attachment: fixed; 
}
 
.navbar{
  
}
.card-image{
 background-color:  rgb(167, 64, 64);
  background-repeat: no-repeat; background-size: contain; background-position: bottom center;  
  
} 
 /*@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}*/
 
 

 