<div class="container sectionMargin">
	<div class="row">
		<app-homewhatwedosection>
		</app-homewhatwedosection>
	</div>
</div>
<div class="container sectionMargin">
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6">
			<router-outlet name="homemenu"></router-outlet>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
<div class="container sectionMargin">
	<div class="row">
		<div class="col-md-9">
			<alert></alert>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<div class="container sectionMargin">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<app-homepurchasesection></app-homepurchasesection>
		</div>
	</div>
</div>