<div class="container">
	<div class="row">
		<!--Grid column-->
		<div class="col-md-8 mb-4">
			<div class="card card-image">
				<div class="text-white d-flex align-items-center rgba-black-strong py-5 px-4">
					<div>
						<h3 class="card-title py-3 font-weight-bold">Home Page Logo Created :
							<img src="https://jj2hgq.ch.files.1drv.com/y4myOCN7C-uQ07zF_b5xgKmAiDSbf9RLfHdRd5HrNxVQTHq8tjiEPrhARdyZ6VC09qWcL51g0zN-o__FZLcjfYFyt3utAa73AZu3KtZjIVlFJ6dl1A1tOTIVZSjhjGlOTrD9r5qfJtwPMLWQ7dNpFxsSQ1uR28b1Oj9GHDnvhE1y_Zq3dztRh-SAm_aiFnNReRd_4XGRrRZfaCzKCefjkpO4w?width=591&height=591&cropmode=none" width="35" height="35" class="d-inline-block align-top" alt="">

            </h3>
							<p class="pb-3">This is a list of course categories, click on each to see a list of courses
								for
								a given
								category.</p>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
		<router-outlet name="homemenu"></router-outlet>
	</div>
</div>